$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
$grid-columns-mobile: 2;
$grid-columns-tablet: 6;
$grid-columns-desktop: 12;
$grid-rows-desktop: 6;
$button-background-color: #cd4d31;
$button-hover-background-color: #af3419;
$button-active-background-color: #ea340d;
$main-text-color: #f1f5f4;
$second-text-color: #1c1b29;
$paragraph-text-color: #504f5e;
$transform: scale(1.3);
$transition: all 0.3s;
